<?xml version='1.0' encoding='utf-8'?>
<widget id="com.moviews" version="1.0.0" versionCode="6" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Moviews</name>
    <description>Movie Reviews</description>
    <author email="info@ting.in" href="http://www.ting.in">Ting</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="fullscreen" value="false" />
    <preference name="Orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="android-installLocation" value="auto" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-targetSdkVersion" value="21" />
    <preference name="ErrorUrl" value="" />
    <preference name="KeepRunning" value="true" />
    <preference name="LoadUrlTimeoutValue" value="20000" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#0C1617" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenDelay" value="3000" />
    <platform name="android">
        <splash density="port-ldpi" src="resources/android/splash/screen-port-ldpi.png" />
        <splash density="port-mdpi" src="resources/android/splash/screen-port-mdpi.png" />
        <splash density="port-hdpi" src="resources/android/splash/screen-port-hdpi.png" />
        <splash density="port-xhdpi" src="resources/android/splash/screen-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="resources/android/splash/screen-port-xxhdpi.png" />
    </platform>
    <icon src="resources/icon.png" />
    <feature name="FileTransfer">
        <param name="ios-package" value="CDVFileTransfer" />
    </feature>
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <feature name="Keyboard">
        <param name="ios-package" onload="true" value="IonicKeyboard" />
    </feature>
    <feature name="SplashScreen">
        <param name="ios-package" value="CDVSplashScreen" />
        <param name="android-package" value="cordova-plugin-splashscreen" />
    </feature>
    <feature name="SocialSharing">
        <param name="ios-package" value="SocialSharing" />
    </feature>
    <feature name="SocialSharing">
        <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
    </feature>
    <preference name="xwalkVersion" value="15+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
</widget>
